<div class="row w-100">
    <div class="col-md-2 layout-body">
        <app-menu></app-menu>
    </div>
    <div class="col-md-10">
        <div class="container p-5 w-99">
            <div class="row w-100">
                <h2>Welcome to Pension Management System</h2>
                <p class="pt-2" style="font-size: 20px;">
                    Pension Management System is a fully computerised system.
                    It is a web-based software application that generates an online case file of every pensioner,
                    calculate their individual gratuity and pension and links that information to their bank accounts.
                    It does all this at the touch of a button.

                </p>
            </div>
        </div>
    </div>
</div>